flows.json
[{"id":"7474337d.6ba07c","type":"tab","label":"Webhooks + Test","disabled":false,"info":""},{"id":"4199c076.247fc","type":"inject","z":"7474337d.6ba07c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Send webhooks","payloadType":"str","x":200,"y":260,"wires":[["5298e69d.1595f8"]]},{"id":"5d353fdf.6bd89","type":"debug","z":"7474337d.6ba07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"5298e69d.1595f8","type":"http request","z":"7474337d.6ba07c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1562752834:AAE0HhAK0QTOWpu3dMrW8HCHe9ZijkojWeQ/setWebHook?url=https://82748f641047.ngrok.io/test","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":260,"wires":[["5d353fdf.6bd89"]]},{"id":"b28613b6.e8e6c","type":"http in","z":"7474337d.6ba07c","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":140,"y":540,"wires":[["78955b7d.25ab94","5eb28ec6.d6314","57a7d498.fa325c"]]},{"id":"78955b7d.25ab94","type":"function","z":"7474337d.6ba07c","name":"","func":"msg.payload = {\n    \n     text: \"Hello user\",\n     chat_id: msg.payload.message.from.id,\n     \n  }\n return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":540,"wires":[["453dba94.a49ae4"]]},{"id":"453dba94.a49ae4","type":"http request","z":"7474337d.6ba07c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot1562752834:AAE0HhAK0QTOWpu3dMrW8HCHe9ZijkojWeQ/sendMessage","tls":"","persist":false,"proxy":"","authType":"basic","x":570,"y":540,"wires":[["7c9388eb.9118c8"]]},{"id":"5eb28ec6.d6314","type":"debug","z":"7474337d.6ba07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":600,"wires":[]},{"id":"57a7d498.fa325c","type":"http response","z":"7474337d.6ba07c","name":"code 200","statusCode":"","headers":{},"x":160,"y":660,"wires":[]},{"id":"7c9388eb.9118c8","type":"debug","z":"7474337d.6ba07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":540,"wires":[]}]
