flows.json
[{"id":"7474337d.6ba07c","type":"tab","label":"Webhooks + Test","disabled":false,"info":""},{"id":"f5f49458.b8a548","type":"telegram bot","botname":"qwerty654_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"d5a765c5.240078","type":"telegrambot-config","botname":"qwerty654_bot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"77cfa764.af5fe8","type":"telegram sender","z":"7474337d.6ba07c","name":"","bot":"f5f49458.b8a548","haserroroutput":false,"outputs":1,"x":570,"y":440,"wires":[[]]},{"id":"97cbde54.516ff","type":"telegram command","z":"7474337d.6ba07c","name":"","command":"/start","bot":"f5f49458.b8a548","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":440,"wires":[["f02799c8.f240b8"],[]]},{"id":"f02799c8.f240b8","type":"function","z":"7474337d.6ba07c","name":"","func":"var helpMessage = \"Hello new user\";\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":440,"wires":[["77cfa764.af5fe8"]]},{"id":"4199c076.247fc","type":"inject","z":"7474337d.6ba07c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Send webhooks","payloadType":"str","x":200,"y":260,"wires":[["5298e69d.1595f8"]]},{"id":"5d353fdf.6bd89","type":"debug","z":"7474337d.6ba07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"5298e69d.1595f8","type":"http request","z":"7474337d.6ba07c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1562752834:AAE0HhAK0QTOWpu3dMrW8HCHe9ZijkojWeQ/setWebHook?url=https://82748f641047.ngrok.io","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":260,"wires":[["5d353fdf.6bd89"]]}]